* {
    --red: #330000;
    --black: #232524;
    --white: #F0EFEF;
  }  

.ArtistPage_container {
    height: 100vh;
}

.ArtistPage_select_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ArtistPage_button {
    margin-top: 5vh;
    width: 20vw;
    height: 10vh;
    font-size: 20px;
    background: #232524;
    color: #F0EFEF;
    border-radius: 10px;
}

#ClownOne, #ClownTwo, #ClownThree {
    display: none;
    position: absolute;
    color: white;
    width: 20vw;
    height: 5vh;
    font-size: 20px;
}

.ArtistPage_artist{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: auto;
    margin: auto;
    border: 1px solid #F0EFEF;
    border-radius: 10px;
    background: #000000;
}


.ArtistPage_img {
    background-color: red;
    border-radius: 10px;
    width: 90px;
    height: 90px;
    margin: auto 10px;
    object-fit: cover;
}

.ArtistPage_name, .ArtistPage_age, .ArtistPage_benef {
    color: #2D882D;
    margin: 10px 20px;
}

.ArtistPage_benef {
    text-align: left;
}