a { 
    text-decoration: none;
}

#BurgerMenu_menu {
    display: flex;
    width: 300px;
    height: 100vh;
    margin-right: -300px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 0;
    right: 0;
    transition: 1s;
    background: rgba(0, 0, 0, 0.866);
    top: 0;
    padding-top: 100px;
    -webkit-box-shadow: -20px 24px 26px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -28px 24px 26px 0px rgba(0,0,0,0.75);
box-shadow: -28px 24px 26px 0px rgba(0,0,0,0.75);

}

.BurgerMenu_button {
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #2D882D;
    border: 2px solid #2D882D;
    background: none;
    font-size: 30px;
    position: absolute;
    z-index: 3;
    -webkit-box-shadow: 22px 24px 45px -17px rgba(0,0,0,0.45);
	-moz-box-shadow: 22px 24px 45px -17px rgba(0,0,0,0.45);
    box-shadow: 22px 24px 45px -17px rgba(0,0,0,0.45);
    transition: 1s;
}

/* .BurgerMenu_button:focus {
    transform: rotate(0deg);
} */

.BurgerMenu_navlink {
    padding: 2vh 0 2vh 0;
    color: #f0efef;
    list-style-type: none;
    width: 100%;
    transition-duration: 0,5s;
    margin: 30px 0;
}

.BurgerMenu_navlink:hover {
    color: #232524;
    background: #2D882D;
    transition-duration: 0,5s;
    border: #2D882D 1px solid;
    font-size: 20px;
}

.BurgerMenu_user_img{
    width: 100px;
    height: 100px;
    background-color: #673aB7;
    border-radius: 50px;

}

.BurgerMenu_user {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BurgerMenu_user_name{
    margin: 30px;
    color: #2D882D;
}

.BurgerMenu_condition_container{
    margin-top: 55vh;
    bottom: 0;
}

.BurgerMenu_navlink_container{
    margin-top: 10vh;
}