* {
    --red: #330000;
    --black: #232524;
    --white: #F0EFEF;
  }  

.HistoryPage_container {
    height: 100vh;
}

.HistoryPage_aside_left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.HistoryPage_img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: 5px solid #330000;
}

.HistoryPage_controler {
    display: flex;
    flex-direction: column;
    padding-top: calc(20vh + 75px);
}

#HistoryPage_controler_up, #HistoryPage_controler_down {
    background: var(--black);
    font-size: 40px;
    color: #2D882D;
    width: 50px;
    height: 50px;   
    border-radius: 50px;
    padding-top: 6px;
    margin: 50px;
    border: 2px solid #2D882D;

}

#HistoryPage_controler_down {
    transform: rotate(180deg);
}

.HistoryPage_aside_right {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    height: 90vh;
    padding : 0;
    width: 400Px;
    border: 4px solid #330000;
    border-radius: 10px;

}

.HistoryPage_container_img {
    padding-top: 20vh;
}

.HistoryPage_text {
    height: 400px;
    margin: 50px 30px;
    border-top: 2px solid #330000;
}

.HistoryPage_date, .HistoryPage_place {
    text-align: left;
    margin: 10px 20px;
}

.HistoryPage_date {
    padding-top: 1vh;
    font-size: 75px;
    color: #f0f0f0;
}

.HistoryPage_place {
    font-size: 50px;
    color: #2D882D;
}

.HistoryPage_text {
    padding-top: 5vh;
    color: #2D882D;
}

#history_pic {
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.BurgerMenu_user_name {
    font-size: 26px;
}

.BurgerMenu_user {
    margin-top: 20px;
}