.HomePage_container {
    height: 100vh;
}

.HomePage_img_clown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9vh auto;
    width: 50vw;
    border-radius: 10px;
    opacity: 0.3;
}

.HomePage_button_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

/* GLITCH HOME */