* {
	--red: #330000;
	--black: #232524;
	--white: #f0efef;
}

.NavBar_ul {
	position: static;
	display: flex;
	list-style: none;
	flex-direction: row;
	justify-content: space-between;
	color: var(--white);
	margin: 0;
	padding: 0;
}

.NavBar_li {
	margin: 20px 20px;
}

#logo {
	max-height: 50px;
	object-fit: cover;
}

#NavBar_button {
	width: 80px;
}

#NavBar_strong {
	color: #2b882B;
}
