.PlacePage_container {
    height: 100vh;
}

.PlacePage_aside_list {
    width: 40vh;
    height: 40vh;
    border: 2px solid #4F0808;
    margin: auto;
    overflow: auto;

}

.PlacePage_aside_location {
    width: 40vh;
    height: 40vh;
    margin: 25vh auto;
    border: 2px solid #4F0808;
}

.PlacePage_container_aside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.PlacePage_li {
    height: 100px;
    margin: auto;
    color: #2D882D;
}